<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parent_Suite">
    <listeners>
        <listener class-name="AnnotationTransformer"/>
    </listeners>
    <test name="test2">
        <classes>
            <class name="TestClass" />
        </classes>
    </test>
</suite>